@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
  display: flex;
  border-radius: 2;
  background-color: #EFEFEF;
  padding: ;
}
.card-title {
  text-align: center;
}
.card-text {
  text-align: center;
}
.card-image {
  width: 100%;
  height: auto;
}